<launch>

	<!-- <arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="pause" default="false"/>
	<arg name="world" value="$(find indoor_nav)/world/indoor_world_01.world"/>

  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" default="$(arg world)"/>
	    <arg name="debug" value="$(arg debug)"/>
	    <arg name="gui" value="$(arg gui)"/>
	  	<arg name="paused" value="$(arg pause)"/>
	    <arg name="use_sim_time" value="true"/>
  	</include> -->

	<!-- <include file="$(find ridgeback_gazebo)/launch/spawn_ridgeback.launch">
		<arg name="config" default="dual_hokuyo_lasers" />
	    <arg name="x" default="-17.0"/>
	    <arg name="y" default="0.0"/>
	    <arg name="z" default="0.025893"/>
	    <arg name="yaw" default="0.0"/>
	</include> -->

	<!-- AMCL -->
	<!-- <arg name="scan_topic" default="front/scan" />
    <arg name="initial_pose_x" default="4.63" />
    <arg name="initial_pose_y" default="12.60" />
    <arg name="initial_pose_a" default="0.0" />
    <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" >
	    <arg name="scan_topic"     value="$(arg scan_topic)" />
	    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
	    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
	    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
    </include> -->

	<!--- Move Base -->
  	<!-- <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" /> -->

    <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(find indoor_nav)/maps/dual_hoyuko_full_map.yaml"/> -->

    <!-- Hospital -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find hybrid_astar)/maps/hospital_04.yaml"/>

    <!-- Hybrid A* -->
    <node pkg="hybrid_astar" type="hybrid_astar" name="hybrid_astar" output="screen">
        <param name="launch-prefix" value="gdb -ex run --args" />
    </node>

    <!-- Voronoi Graph -->
    <node pkg="tuw_voronoi_graph" type="tuw_voronoi_graph_node" name="graph_generator" output="screen">
        <param name="graph_cache_path" value="$(find hybrid_astar)/maps/voronoi/cache/" />
        <param name="custom_graph_path" value="" />
        <rosparam command="load" file="$(find hybrid_astar)/maps/voronoi/graph.yaml"/>
    </node>

    <!-- Pure Pursuit -->
    <!-- <node pkg="hybrid_astar" type="pure_pursuit" name="pure_pursuit" output="screen"/> -->

    <arg name="config" default="hybrid_astar" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hybrid_astar)/rviz/$(arg config).rviz" />

</launch>