<?xml version="1.0"?>

<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find indoor_nav)/maps/hector_slam.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

</launch>
