<?xml version="1.0"?>

<launch>

  	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="pause" default="true"/>
	<arg name="world" default="$(find indoor_nav)/world/empty_world"/>

	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.025889"/>
	<arg name="yaw" default="0"/>


  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" default="$(arg world)"/>
	    <arg name="debug" value="$(arg debug)"/>
	    <arg name="gui" value="$(arg gui)"/>
	  	<arg name="paused" value="$(arg pause)"/>
	    <arg name="use_sim_time" value="true"/>
  	</include>

  	<include file="$(find ridgeback_gazebo)/launch/spawn_ridgeback.launch">
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="yaw" value="$(arg yaw)"/>
  	</include>

  	<!-- <include file="$(find ridgeback_navigation)/launch/include/move_base.launch"/> -->

  	<arg name="config" default="model_test" />
  	<!-- <arg name="config" default="ridgeback_config" /> -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find indoor_nav)/rviz_config/$(arg config).rviz" />
</launch>