<?xml version="1.0"?>

<launch>

	<arg name="debug" default="false"/>
	<arg name="gui" default="false"/>
	<arg name="pause" default="true"/>
	<arg name="world" value="$(find indoor_nav)/world/indoor_world_01.world"/>

	<arg name="x" default="-4.5"/>
	<arg name="y" default="-6.0"/>
	<arg name="z" default="0.025889"/>
	<arg name="yaw" default="0"/>

  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<arg name="world_name" default="$(arg world)"/>
	    <arg name="debug" value="$(arg debug)"/>
	    <arg name="gui" value="$(arg gui)"/>
	  	<arg name="paused" value="$(arg pause)"/>
	    <arg name="use_sim_time" value="true"/>
  	</include>

	<include file="$(find ridgeback_gazebo)/launch/spawn_ridgeback.launch">
	  	<arg name="x" value="$(arg x)"/>
	  	<arg name="y" value="$(arg y)"/>
	  	<arg name="z" value="$(arg z)"/>
	  	<arg name="yaw" value="$(arg yaw)"/>
	  	<arg name="config" value="dual_hokuyo_lasers" />
	</include>

	<!-- <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/> -->

	<!-- AMCL -->
	<!-- <include file="$(find ridgeback_navigation)/launch/amcl_demo.launch"/> -->

	<!-- GMapping -->
	<!-- <include file="$(find ridgeback_navigation)/launch/gmapping_demo.launch"/> -->

	<!-- Move Base -->
	<!-- <include file="$(find ridgeback_navigation)/launch/include/move_base.launch"/> -->

	<!-- Hector SLAM -->
	<!-- <include file="$(find hector_slam_launch)/launch/tutorial.launch"/> -->

	<param name="use_gui" value="true"/>
  	<arg name="config" default="navigation" />
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find indoor_nav)/rviz_config/$(arg config).rviz" />

</launch>